@import '@/styles/utils.scss';

.search {
  margin-bottom: 34px;

  input {
    width: 100%;
    max-width: 520px;
  }
}

.checkbox label {
  top: -8px;
}

.selectRow {
  display: flex;
  flex-direction: column;

  >div {
    display: flex;
    align-items: center;
    padding: 5px 0;
    border-radius: 4px;

    &:hover {
      background-color: $white;
    }

    >p {
      width: 100%;
      margin: 0 5px;
      font-size: $font-size-small;
      color: $dark-gray;

      span {
        font-weight: bold;
        color: $bc-black;
      }
    }

    button {
      flex-direction: flex-end;
      font-size: $font-size-small;
      padding: 5px 8px;
      margin-right: 10px;

      &:hover {
        background-color: $chart-blue;
        color: $white;
      }
    }
  }
}

.container .table>div {
  .tableHeader {
    flex: 0.5;

    &+div {
      flex: 1.5;
    }
  }

  .checkbox {
    flex: 0.5;
  }

  .selectRow {
    flex: 1.5;
  }
}

.newRow {
  background-color: $light-gray;
  color: $info-gray;
  font-weight: bold;
  font-size: $font-size-small;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 16px;
  border-bottom: 1px solid $medium-gray;
  cursor: pointer;

  &:hover {
    color: $bc-black;
  }

  span {
    font-size: $font-size-medium;
  }
}

.addNewRow {
  display: flex;
  align-items: center;
  gap: 1rem;

  &:hover {
    background-color: rgba($light-gray, 0.4);

    > button {
      display: block;
    }
  }

  div {
    flex: 1;
  }

  input {
    width: 100%;
    max-width: 200px;
    margin: 0;
  }

  > button {
    position: absolute;
    top: 0;
    left: 0;
    font-size: $font-size-small;
    padding: 5px 8px;
    display: none;

    &:hover {
      background-color: $bc-red;
      color: $white;
    }
  }
}