@import '@/styles/utils.scss';

.search {
    margin-bottom: 34px;

    input {
        width: 100%;
        max-width: 520px;
    }
}

.checkbox label {
    top: -8px;
}

.groupsSelect > div {
    width: 100%;
    max-width: 230px;

    select {
        width: 100%;
    }
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
    padding: 1rem;
  }