$bc-blue: #003366;
$chart-blue: #476E94;
$focus-blue: #4f9ae0;

$white: #FFFFFF;

$dark-gray: #949494;
$medium-gray: #D9D9D9;
$light-gray: #F2F2F2;
$info-gray: #595959;
$chart-gray: #C4C7CA;

$bc-yellow: #FCBA19;
$medium-yellow: #DF9901;

$black: #000000;
$bc-black: #313132;