$bc-sans: 'BCSans', sans-serif;

$font-size-large: 2rem;
$font-size-medium: 1.5rem;
$font-size-normal: 1rem;
$font-size-small: .875rem;
$font-size-12: .75rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-32: 2rem;
$font-size-40: 2.5rem;

// Screen size breakpoints
$container: 1440px;
$desktop: 1310px;
$tablet: 1024px;