@import './utils';

body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: "BCSans";
  box-sizing: border-box;
  color: $bc-black;
}

div {
  box-sizing: border-box;
}

button,
select,
option {
  font-family: "BCSans";
}

h1,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.dashboardContainer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 65px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}