@import '@/styles/utils.scss';

.dateRange {
    font-size: $font-size-small;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  
    @media screen and (max-width: $desktop) {
      margin: 0 5px;
      width: auto;
    }
  
    .datePicker {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $light-gray;
      padding: 5px 5px 5px 10px;
      border-radius: 4px;
  
      label {
        font-weight: bold;
  
        @media screen and (max-width: $desktop) {
          display: none;
        }
      }
  
      input {
        padding: 2px 5px;
        border-radius: 2px;
        background-color: $light-gray;
        border: 0;
        font-family: "BCSans";
        cursor: text;
      }
    }

    button {
        position: relative;
        padding: 5px 10px;
        top: unset;
        right: unset;
    }
  }