@import '@/styles/utils.scss';

.simpleDropdown {
  position: relative;
  width: max-content;

  label {
    display: block;
    margin-bottom: 12px;
  }

  select {
    border: 1px solid $dark-gray;
    border-radius: 3px;
    min-width: 200px;
    min-height: 28px;
    font-size: $font-size-normal;
    color: $bc-black;
    padding: 5px 33px 5px 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &:focus {
      outline: 1px solid $focus-blue;
    }
  }

  &::after {
    content: '';
    height: 6px;
    width: 6px;
    border-right: 1px solid $bc-black;
    border-bottom: 1px solid $bc-black;
    display: block;
    position: absolute;
    right: 16px;
    bottom: 15px;
    transform: rotate(45deg);
    pointer-events: none;
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  max-width: 205px;

  @media screen and (max-width: $desktop) {
    margin: 0 5px;
  }

  &::after {
    content: '';
    height: 8px;
    width: 8px;
    border-right: 2px solid $bc-black;
    border-bottom: 2px solid $bc-black;
    display: block;
    position: absolute;
    right: 16px;
    top: 22px;
    transform: rotate(45deg);
    pointer-events: none;
  }

  label {
    font-size: $font-size-normal;
    font-weight: bold;
    position: absolute;
    left: 16px;
    top: 8px;
    pointer-events: none;

    @media screen and (max-width: $desktop) {
      font-size: $font-size-small;
    }
  }

  select {
    background-color: $light-gray;
    padding: 30px 16px 10px;
    border-radius: 6px;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;

    &:hover {
      background-color: $medium-gray;
    }

    &:focus {
      outline: 1px solid $focus-blue;
    }

    @media screen and (max-width: $desktop) {
      font-size: $font-size-small;
    }

    >option {
      font-family: $bc-sans;
    }
  }
}


.selected {
  background-color: $bc-blue;
  color: $white;
}

.spinner {
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  margin-top: calc(height / 2);
  margin-right: 17px;

  >div {
    width: 20px;
    height: 20px;
    border: 2px solid $bc-black;
    border-color: $bc-black transparent transparent transparent;
  }
}

%arrow-style {
  content: '';
  height: 8px;
  width: 8px;
  border-right: 1px solid $bc-black;
  border-bottom: 1px solid $bc-black;
  display: block;
  position: absolute;
  transform: rotate(45deg);
  pointer-events: none;
}

.multiSelect {
  position: absolute;
  top: -22px;

  &::after {
    display: none;
  }

  &:focus-within {
    &::before {
      content: "Select one or more";
      height: 43px;
      width: 100%;
      display: block;
      position: absolute;
      background: $white;
      z-index: 3;
      padding: 10px;
      color: $dark-gray;
      box-sizing: border-box;
      border-radius: 3px;
      border-bottom: 1px solid;
      transform: rotate(0);
      top: 0;
      left: 0;
    }

    &::after {
      @extend %arrow-style;
      right: 16px;
      top: 15px;
      z-index: 3;
    }
  }

  select {
    padding: 0;
    @include scrollBar;
    height: 43px;
    position: relative;
    overflow: hidden;

    &:focus {
      height: 250px;
      overflow: scroll;
      overflow-x: hidden;
      z-index: 2;
    }
  }

  option {
    border-bottom: 1px solid $chart-gray;
    padding: 10px 0 10px 50px;
    position: relative;

    &:hover {
      background-color: $light-gray;
    }

    &::before {
      content: '';
      height: 20px;
      width: 20px;
      display: block;
      border: 1px solid $medium-gray;
      border-radius: 3px;
      position: absolute;
      left: 10px;
      top: 10px;
    }

    &.selected::before {
      content: '\2713';
      font-weight: bold;
      text-align: center;
      line-height: 1.2;
      background-color: $bc-blue;
    }

    &.selected {
      background-color: $chart-blue;
    }

    &:first-of-type {
      padding: 10px;
      color: $dark-gray;
      pointer-events: none;

      &::before {
        display: none;
      }

      &::after {
        @extend %arrow-style;
        right: 16px;
        top: 15px;
      }
    }
  }
}