@import '@/styles/utils.scss';

.panel {
    @include panel-style(730px, unset, unset, 1310px);

    >button {
        @include export-btn;
    }
}

.filter {
    margin: 15px 0;

    input {
        min-width: 344px;
    };
}

.header {
    height: 35px;
    background-color: $medium-gray;
    font-weight: bold;
    color: $info-gray;
    padding: 6px 14px;
    display: flex;
}

.sortDropdown {
    width: fit-content;
    cursor: pointer;

    p {
      position: relative;
      width: fit-content;

      &::after {
            content: "";
            height: 6px;
            width: 6px;
            border-right: 1px solid $bc-black;
            border-bottom: 1px solid $bc-black;
            display: block;
            position: absolute;
            right: -16px;
            bottom: 9px;
            transform: rotate(45deg);
            pointer-events: none;
        }
    }
}

.dropdown {
    font-weight: normal;
    background-color: $white;
    padding: 0 15px;
    width: 180px;
    @include dropshadow;
    position: relative;
    top: 2px;
    z-index: 2;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity, .3s;

    &.visible {
        height: auto;
        opacity: 1;
        visibility: visible;
      }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            height: 39px;
            display: flex;
            align-items: center;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.visible {
    .dropdown {
        height: auto;
        opacity: 1;
        visibility: visible;
    }

    p::after {
        transform: rotate(225deg);
        bottom: 5px;
    }
}