@import '@/styles/utils.scss';

.panel {
    @include panel-style(unset, unset, 1080px, 1310px);
    padding-bottom: 34px;

    >button {
        @include export-btn;
    }
}

.filter {
    margin: 15px 0;

    input {
        min-width: 344px;
    }
}

.header {
    height: 35px;
    background-color: $light-gray;
    font-weight: bold;
    color: $info-gray;
    padding: 6px 14px;
    display: flex;
}

.sortDropdown {
    width: fit-content;
    cursor: pointer;

    &:first-child {
        width: 18%;
    }

    &:nth-child(2) {
        width: 25%;
    }

    p {
        position: relative;
        width: fit-content;

        &::after {
            content: "";
            height: 6px;
            width: 6px;
            border-right: 1px solid $bc-black;
            border-bottom: 1px solid $bc-black;
            display: block;
            position: absolute;
            right: -16px;
            bottom: 9px;
            transform: rotate(45deg);
            pointer-events: none;
        }
    }
}

.dropdown {
    font-weight: normal;
    background-color: $white;
    padding: 0 15px;
    width: 180px;
    @include dropshadow;
    position: relative;
    top: 2px;
    z-index: 2;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity, .3s;

    &.visible {
        height: auto;
        opacity: 1;
        visibility: visible;
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            height: 39px;
            display: flex;
            align-items: center;

            &:hover {
                font-weight: bold;
            }
        }
    }
}

.visible {
    .dropdown {
        height: auto;
        opacity: 1;
        visibility: visible;
    }

    p::after {
        transform: rotate(225deg);
        bottom: 5px;
    }
}

.chart {
    max-height: 470px;
    overflow-y: scroll;
    padding-right: 10px;

    @include scrollBar;
}

.row {
    display: flex;
    padding: 13px 0;
    position: relative;
    border-bottom: 1px solid $medium-gray;

    &:hover {
        background-color: $light-gray;
    }
}

.info,
.barChart {
    display: flex;
}

.info {
    width: 72%;

    a {
        width: 24%;
        margin-left: 10px;
        text-decoration: underline;
        font-weight: bold;
        color: $bc-black;
        @include ellipsis;

        &:hover {
            opacity: 0.8;
        }
    }

    p {
        width: 21%;
        @include ellipsis;

        &:first-of-type {
            width: 34.5%;
            margin-left: 10px;
        }

        &:last-child {
            width: unset;
        }
    }
}

.barChart {
    width: 28%;
}

.bar {
    height: 13px;
    width: 100%;
    border-radius: 10px;
    margin-top: 12px;
    background-color: $medium-gray;
    overflow: hidden;

    .percentage {
        height: 13px;
        width: 60%;
        border-radius: 10px 0 0 10px;
        background-color: $chart-blue;
    }
}

.used {
    position: absolute;
    right: 0;
    top: 5px;
    font-size: $font-size-12;
    color: $info-gray;
}

.hasTenant {
    .sortDropdown {
        &:first-child {
            width: 15%;
        }

        &:nth-child(2) {
            width: 15%;
        }
    }

    .info {
        a {
            width: 20%;
        }

        p {
            width: 20%;

            &.centered {
                text-align: center;
            }

            &:first-of-type {
                width: 21%;
            }

            &:last-child {
                width: 15%;
            }
        }
    }
}

.link {
  cursor: pointer;
}
