@import '@/styles/utils.scss';

.info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 15px 0 34px;
  align-items: center;

  >svg {
    color: $dark-gray;
    width: 20px;
    height: 20px;
  }
}