@import '@/styles/utils.scss';

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop;
  width: 100%;
  background-color: $white;
  @include dropshadow;
  padding: 12px 22px;
  border-radius: 10px;
  position: absolute;
  top: 215px;
  transform: translateX(-50%);
  left: 50%;
  color: $bc-black;
}

.dropdown {
  max-width: 205px;
}