@import '@/styles/utils.scss';

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1510px;
  width: 100%;
  background-color: $white;
  @include dropshadow;
  padding: 12px 22px;
  border-radius: 10px;
  position: absolute;
  top: 215px;
  transform: translateX(-50%);
  left: 50%;
  color: $bc-black;
}

.date {
  font-size: $font-size-small;
  background-color: $light-gray;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 5px 16px;
  width: 100%;
  max-width: 248px;

  @media screen and (max-width: $desktop) {
    margin: 0 5px;
    width: auto;
  }

  .datePicker {
    display: flex;
    justify-content: space-between;
    align-items: center;

    label {
      font-weight: bold;

      @media screen and (max-width: $desktop) {
        display: none;
      }
    }

    input {
      padding: 2px 5px;
      border-radius: 2px;
      background-color: $light-gray;
    }
  }
}