@import '@/styles/utils.scss';

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $desktop;
  width: 100%;
  background-color: $white;
  @include dropshadow;
  padding: 12px 22px;
  border-radius: 10px;
  position: absolute;
  top: 225px;
  transform: translateX(-50%);
  left: 50%;
  color: $bc-black;
  z-index: 2;

  h1 {
    min-width: 100px;
  }

  @media (min-width: $mobile) {
    >div:last-of-type {
      margin-right: 14px;
    }
  }

  @media (max-width: $desktop) {
    h1 {
      display: none;
    }
  }

  @media (max-width: $mobile) {
    flex-direction: column;
    position: relative;
    top: -60px;
    margin-bottom: -40px;

    >div {
      margin: 5px 0;
      max-width: unset;
    }

    button {
      width: 100%;
      margin: 15px 0 0;
    }
  }
}

.reset {
  max-width: 200px;
  max-width: fit-content;
  font-size: $font-size-12;
  color: $white;
  background-color: $medium-yellow;
  padding: 5px 10px 5px 30px;
  border: 0;
  border-radius: 4px;
  position: absolute;
  top: -15px;
  right: -10px;
  cursor: pointer;
  background-image: url('/images/reset-icon.png');
  background-repeat: no-repeat;
  background-position: 7px 4px;
  @include dropshadow;

  &:hover {
    background-color: $bc-yellow;
  }

  @media (max-width: $mobile) {
    position: unset;
    max-width: unset;
    font-size: $font-size-normal;
  }

  &.hidden {
    display: none;
  }
}