@import '@/styles/utils.scss';

.lineChart {
  button {
    @include export-btn;
  }
}

.panel {
  @include panel-style(370px, unset, unset, 638px);
  flex-basis: 49%;

  @media (max-width: $tablet) {
    max-width: unset;
    flex-basis: 100%;
  }
}

.panelLarge {
  @include panel-style(480px, unset, unset, 1310px);

  .chartContainer {
    min-height: 420px;
  }
}

.disclaimer {
  font-size: $font-size-12;
  margin: 2px 0 -7px 5px;
  color: $info-gray;
}