@import '@/styles/utils.scss';

.date {
  margin-top: 10px;
  display: flex;
  gap: 1rem;

  button {
    position: relative;
    padding: 5px 10px;
    top: unset;
    right: unset;
    display: block;
  }
}

.disclaimer {
  font-size: $font-size-12;
  margin: 2px 0 -7px 5px;
  color: $info-gray;
}