@import '@/styles/utils.scss';

.table {
  display: flex;
  flex-direction: column;

  .tableHeader {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.25rem 1.5rem;

    font-weight: 600;
    border-bottom: solid 1px $medium-gray;

    >div {
      flex: 1;
    }
  }

  .tableRows {
    max-height: 450px;
    overflow-y: scroll;
    @include scrollBar;
    border-bottom: solid 1px $medium-gray;
  }

  .tableRow {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-height: 60px;
    padding: 0.5rem;
    border-bottom: solid 1px $medium-gray;
    align-items: center;
    position: relative;

    &:hover {
      background-color: $light-gray;
    }

    >div:not(.loadingAnimation) {
      flex: 1;
      position: relative;
    }
  }

  .tableFooter {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0.25rem;

    >div {
      flex: 1;
    }
  }
}