$bc-sans: 'BCSans', sans-serif;

$font-size-large: 2em;
$font-size-medium: 1.5em;
$font-size-normal: 1em;
$font-size-small: .875em;
$font-size-18: 1.125em;
$font-size-40: 2.223em;

// Screen size breakpoints
$desktop: 1310px;